.cloudManagePage {
    padding: 3em;
    
  .white-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 1px #eee;
  }

  .semi-header {
    background-color: rgba(46, 133, 167, 0.069);
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.564);
  }

  .blank {
    height: 50px;
  }

  .form-btn {
    width: 100%;
    text-align: right;

    Button {
      width: 5em;
      font-size: 1.3rem;
      margin-right: 2em;
    }
  }

  .server-spec {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;

    h2 {
      margin-top: 0;
    }
    ul {
      list-style-type: none;
      padding-left: 20px;
    }
    li {
      margin-bottom: 10px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: right;
    }
    th {
      text-align: center;
      background-color: #f2f2f2;
    }
  }
}
